/* 01. SETTINGS */
/* 02. TOOLS */
/* 03. GENERIC */
/* 04. ELEMENTS */
p {
  line-height: 1.625em; }

/* Links */
a {
  color: #de1e7e;
  cursor: pointer;
  font-weight: inherit;
  text-decoration: none;
  transition: color .3s; }
  a:hover {
    border: 0;
    color: #ec76b1;
    outline: 0;
    text-decoration: none; }
  a:focus, a:active {
    border: 0;
    color: #e95fa4;
    outline: 0; }
  a img {
    border: 0;
    outline: 0; }
  a.button:hover {
    color: #fff; }

/* Headings */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  padding: 0;
  text-shadow: none; }
  h1 *, .h1 *,
  h2 *, .h2 *,
  h3 *, .h3 *,
  h4 *, .h4 *,
  h5 *, .h5 *,
  h6 *, .h6 * {
    line-height: 1.1; }

h1,
.h1 {
  color: #322e2f;
  font-family: "Source Sans Pro", "source-sans-pro", sans-serif;
  font-size: 32.4px;
  font-size: 2.025rem;
  font-weight: 200;
  letter-spacing: 0px;
  line-height: 1.1;
  margin-bottom: 1rem; }

h2,
.h2 {
  color: #595559;
  font-family: "Source Sans Pro", "source-sans-pro", sans-serif;
  font-size: 25.2px;
  font-size: 1.575rem;
  font-weight: 200;
  letter-spacing: 0px;
  line-height: 1.1;
  margin-bottom: 1rem; }

h3,
.h3 {
  color: #948790;
  font-family: "Source Sans Pro", "source-sans-pro", sans-serif;
  font-size: 21.6px;
  font-size: 1.35rem;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.1;
  margin-bottom: 1rem; }

h4,
.h4 {
  color: #948790;
  font-family: "Source Sans Pro", "source-sans-pro", sans-serif;
  font-size: 17.28px;
  font-size: 1.08rem;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.1;
  margin-bottom: 1rem;
  text-transform: uppercase; }

h5,
.h5 {
  color: #B3ACB3;
  font-family: "Source Sans Pro", "source-sans-pro", sans-serif;
  font-size: 17.28px;
  font-size: 1.08rem;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 1.1;
  margin-bottom: 1rem; }

h6,
.h6 {
  color: #B3ACB3;
  font-family: "Source Sans Pro", "source-sans-pro", sans-serif;
  font-size: 12.6px;
  font-size: 0.7875rem;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 1.1;
  margin-bottom: 1rem;
  text-transform: uppercase; }

/* Lists */
ol,
ul,
dl {
  line-height: 1.1em;
  margin-bottom: 1.625em; }

p,
address {
  margin-bottom: 0.8125em; }

small {
  font-size: .875em; }

ul,
ol {
  font-size: inherit;
  margin-left: 1em;
  padding: 0 0 0 1em; }
  ul ul,
  ul ol,
  ol ul,
  ol ol {
    margin-bottom: 0; }

li {
  font-weight: 300;
  line-height: 1.3em;
  margin: .3em 0; }
  li h1, li h2, li h3, li h4, li h5, li h6 {
    margin-bottom: .2em; }
  li span {
    vertical-align: text-top; }

blockquote {
  border-left: 0 solid #d4ccd4;
  color: #948790;
  font-family: "Source Sans Pro", "source-sans-pro", sans-serif;
  font-style: italic;
  font-weight: 200;
  line-height: 1.3em;
  padding-left: 0;
  font-size: 20px;
  font-size: 1.25rem;
  margin-bottom: 14px;
  margin-bottom: 0.875rem; }
  blockquote * {
    font-family: "Source Sans Pro", "source-sans-pro", sans-serif;
    font-style: italic;
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 200; }

q {
  font-style: italic;
  font-weight: inherit; }

cite {
  font-weight: inherit; }

dl,
dt {
  margin-bottom: 0.8125em; }

dd {
  font-weight: bold;
  margin-bottom: 0.40625em; }

b,
strong {
  font-weight: bold; }
  b a,
  strong a {
    font-weight: bold; }

i,
dfn,
em {
  font-style: italic;
  font-weight: inherit; }
  i a,
  dfn a,
  em a {
    font-style: italic; }

u {
  text-decoration: underline; }

ins {
  background-color: #f4f2f3;
  color: red;
  text-decoration: none; }

mark {
  background-color: #d4ccd4;
  color: red;
  font-style: italic;
  font-weight: bold; }

pre,
code,
kbd,
samp,
var,
tt {
  background-color: #f4f2f3;
  border: 0;
  color: #4d4648;
  font-family: "Source Code Pro", "source-code-pro", monospace;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.625em;
  margin: 1em 0;
  padding: 0.5em; }

code, kbd, var, tt {
  display: inline-block; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

sub,
sup {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: middle; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

hr {
  background-color: #d4ccd4;
  border: 0;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0; }

/* SELECTION */
::-moz-selection {
  background-color: #d4ccd4;
  color: #f4f2f3;
  text-shadow: none; }

::selection {
  background-color: #d4ccd4;
  color: #f4f2f3;
  text-shadow: none; }

/* FORMS */
label {
  color: #4d4648;
  font-family: "Source Sans Pro", "source-sans-pro", sans-serif;
  font-size: 1.125em;
  font-weight: 300; }

input[type="text"],
input[type="date"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="file"],
input[type="password"],
select,
textarea,
.textbox {
  background-color: #fff;
  border: 1px solid #d4ccd4;
  color: #4d4648;
  display: block;
  font-family: "Source Sans Pro", "source-sans-pro", sans-serif;
  font-size: .875em;
  font-weight: 300;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  max-width: 30em;
  padding: 0.5em;
  width: 100%; }
  input[type="text"]:active, input[type="text"]:focus,
  input[type="date"]:active,
  input[type="date"]:focus,
  input[type="time"]:active,
  input[type="time"]:focus,
  input[type="datetime"]:active,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:active,
  input[type="datetime-local"]:focus,
  input[type="url"]:active,
  input[type="url"]:focus,
  input[type="email"]:active,
  input[type="email"]:focus,
  input[type="number"]:active,
  input[type="number"]:focus,
  input[type="search"]:active,
  input[type="search"]:focus,
  input[type="file"]:active,
  input[type="file"]:focus,
  input[type="password"]:active,
  input[type="password"]:focus,
  select:active,
  select:focus,
  textarea:active,
  textarea:focus,
  .textbox:active,
  .textbox:focus {
    outline-color: #de1e7e; }

input[type="checkbox"],
input[type="radio"] {
  margin: 3px 0;
  padding: 0;
  *width: 13px;
  *height: 13px; }

button,
.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  color: #fff;
  cursor: pointer;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#de1e7e), to(#f067ab));
  background-image: -webkit-linear-gradient(top, #de1e7e, #f067ab);
  background-color: #f067ab;
  background-image: -moz-linear-gradient(top, #de1e7e, #f067ab);
  background-image: -ms-linear-gradient(top, #de1e7e, #f067ab);
  background-image: -o-linear-gradient(top, #de1e7e, #f067ab);
  background-image: linear-gradient(top, #de1e7e, #f067ab);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de1e7e', endColorstr='#f067ab',GradientType=0 );
  background-repeat: repeat-x;
  border: 0;
  border-bottom: 1px solid #c81b71;
  border-radius: 0;
  display: inline-block;
  font-family: "Source Sans Pro", "source-sans-pro", sans-serif;
  font-size: 1em;
  font-weight: 200;
  height: auto;
  padding: 0.5em 2em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: auto; }
  button:hover,
  .button:hover,
  input[type="button"]:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f067ab), to(#de1e7e));
    background-image: -webkit-linear-gradient(top, #f067ab, #de1e7e);
    background-color: #de1e7e;
    background-image: -moz-linear-gradient(top, #f067ab, #de1e7e);
    background-image: -ms-linear-gradient(top, #f067ab, #de1e7e);
    background-image: -o-linear-gradient(top, #f067ab, #de1e7e);
    background-image: linear-gradient(top, #f067ab, #de1e7e);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f067ab', endColorstr='#de1e7e',GradientType=0 );
    background-repeat: repeat-x;
    border-bottom: 1px solid #e3328b;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }
  button.alt,
  .button.alt,
  input[type="button"].alt,
  input[type="submit"].alt,
  input[type="reset"].alt {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#595559), to(#d4ccd4));
    background-image: -webkit-linear-gradient(top, #595559, #d4ccd4);
    background-color: #d4ccd4;
    background-image: -moz-linear-gradient(top, #595559, #d4ccd4);
    background-image: -ms-linear-gradient(top, #595559, #d4ccd4);
    background-image: -o-linear-gradient(top, #595559, #d4ccd4);
    background-image: linear-gradient(top, #595559, #d4ccd4);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595559', endColorstr='#d4ccd4',GradientType=0 );
    background-repeat: repeat-x; }
    button.alt:hover,
    .button.alt:hover,
    input[type="button"].alt:hover,
    input[type="submit"].alt:hover,
    input[type="reset"].alt:hover {
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d4ccd4), to(#595559));
      background-image: -webkit-linear-gradient(top, #d4ccd4, #595559);
      background-color: #595559;
      background-image: -moz-linear-gradient(top, #d4ccd4, #595559);
      background-image: -ms-linear-gradient(top, #d4ccd4, #595559);
      background-image: -o-linear-gradient(top, #d4ccd4, #595559);
      background-image: linear-gradient(top, #d4ccd4, #595559);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4ccd4', endColorstr='#595559',GradientType=0 );
      background-repeat: repeat-x; }
  button:active, button:focus,
  .button:active,
  .button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus {
    outline-color: #de1e7e; }

input[type="hidden"] {
  display: none; }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: not-allowed; }

::-webkit-input-placeholder {
  color: #d4ccd4;
  font-size: 0.875em;
  font-style: normal; }

:-moz-placeholder {
  color: #d4ccd4;
  font-size: 0.875em;
  font-style: normal; }

:-ms-input-placeholder {
  color: #d4ccd4;
  font-size: 0.875em;
  font-style: normal; }

/* TABLES */
table {
  height: 100%;
  width: 100%;
  margin-bottom: 0.8125em;
  background-color: transparent;
  border-spacing: 0; }

th,
td {
  padding: 0.25em;
  vertical-align: middle;
  line-height: 1.625em;
  text-align: left;
  font-size: .875em; }

th {
  font-weight: bold; }

td {
  border-top: 1px solid #d4ccd4; }

thead th {
  vertical-align: bottom; }

thead:first-child tr:first-child th,
thead:first-child tr-first-child td {
  border-top: 0; }

tbody tr td,
tbody tr th {
  -webkit-transition: background-color 0.25s 0 ease;
  -moz-transition: background-color 0.25s 0 ease;
  -ms-transition: background-color 0.25s 0 ease;
  -o-transition: background-color 0.25s 0 ease;
  transition: background-color 0.25s 0 ease; }

tbody tr:hover td,
tbody tr:hover th {
  background-color: transparent; }

img {
  border: 0;
  height: auto;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  vertical-align: middle; }

figure {
  margin-bottom: 1.625em; }

figcaption {
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-style: italic;
  font-weight: normal;
  margin: .5em 0 0 0;
  padding: 0; }

/* 05. OBJECTS */
#tinymce h1, #tinymce h2, #tinymce h3, #tinymce h4, #tinymce h5, #tinymce h6, #tinymce .h1, #tinymce .h2, #tinymce .h3, #tinymce .h4, #tinymce .h5, #tinymce .h6 {
  margin-top: 1.16071em;
  margin-bottom: 0.67708em; }
#tinymce dd, #tinymce blockquote {
  margin-left: 0; }
