.nav-quicklinks {
    width: 100%;
    background: $Ndark;

    .menu-item {

        a, a:visited {
            color: $Nlighter;
            font-weight: 200;
            padding: 0 .5em;

            &:hover {
                color: darken($Nlighter, 5%);
            }
        }

        &.current-menu-item a {
            font-weight:500;
        }
    }

    li:first-child {
        a {
            padding-left: 0;
        }
    }

    .sub-menu {
        display: none;
    }
}

    .quicklinks-menu {
        margin: 0;
        padding: .5em 1em;

        li {
            display: inline-block;
            margin: 0;
            list-style: none;
        }
    }

.nav-main {
	position: absolute;
    right: 100%;
    top: 0;
    width: 80%;
    padding: 1em;
    transition: all 500ms ease;

    ul {
        list-style: none;
    }

    a {
        @include rem-px('font-size', 1rem);
    }
}

    .nav-main--menu {
        margin: 0;
        padding: 0;
    }

        .menu-item {
            padding: 0;
            margin-bottom: 0;

            &:last-child {
                border-bottom: 0;
            }

            a,
            a:visited {
                display: block;
                padding: .5em 0;
                @include transition(color .2s);
                color: $linkColor;

                &:hover {
                    color: lighten($linkColor, 10%);
                }
            }

            &.current-menu-item a {
            }
        }

.footer--menu {
    margin: 1em 0 0 0;
    padding: 0;
    list-style: none;

    a {
        padding: 0;
    }
}


@media only screen and (max-width: #{$midBreakpoint}) {
    .nav-main {
        position: absolute;
        right: 100%;
        top: 0;
        width: 80%;
        padding: 2em;

        #closeSidebar {
            font-size: 1.8em;
            margin-top: .75em;
            border-radius: 50%;
            line-height:1;
            padding:0 .4em;
            border: 1px solid $linkColor;
        }
    }

    .menu-small-menu-container {
        margin-bottom:1em;
    }

    .nav-main--menu {
        li a {
            font-size: 1.4em;
            font-weight: 400;
        }
    }

}


@media only screen and (min-width: #{$midBreakpoint}) {
    .quicklinks-menu {
        padding: .5em 4em;
    }

    .nav-main {
        float: right;
        position: relative;
        left: auto;
        right: auto;
        top: auto;
        width: auto;
        text-transform: uppercase;
        padding: 1em 0;
    }

            .menu-item {
                display: inline-block;

                & > a {
                    padding: .25em .5em;
                }
            }
    .nav-footer {
        display:inline-block;
    }

    .footer--menu {
        margin-top: 0;

        .menu-item:first-child {
            a {
                padding-left: 0;
            }
        }
    }
}

@media only screen and (min-width: #{$widescreenBreakpoint}) {
    .quicklinks-menu {
        @include rem-px('max-width', 84.5rem);
        @include center-block();
    }
}